Incorrect header check

### Basic info:

- **Node.js version:V8 <!-- only v6 and above are supported -->
- **jsdom version:11 <!-- only v10 and above are supported -->

  
`JSDOM.fromURL("http://www.tribuneindia.com/news/haryana/10-named-for-violence-ahead-of-saini-s-event/468169.html", optionss)
.then(dom => {
		console.log(dom.serialize())
	})`

This is throwing 
incorrect header check
       at Inflate.zlibOnError (zlib.js:146:15) errno: -3, code: 'Z_DATA_ERROR'




This is https://github.com/request/request/issues/2197.

FWIW this issue was fixed in node-fetch (which I help maintain) in https://github.com/bitinn/node-fetch/commit/d24ec6f7c4e3b15d9a7a1c2115595a8b1aebee67. I'm surprised to see this workaround isn't present in a module as widely used as request, as the issue is quite ubiquitous.

Fascinating. It seems like this should be in a spec somewhere, possibly Fetch. /Cc @annevk.

As for fixing in jsdom... The easiest thing to do will be to patch request, as switching to another library will be tricky, especially with old-api to support.

> It seems like this should be in a spec somewhere, possibly Fetch.

The right place seems to be https://fetch.spec.whatwg.org/#handle-content-codings, which currently just delegates to HTTP. The relevant sections are [RFC 7231 §3.1.2. Encoding for Compression or Integrity](https://tools.ietf.org/html/rfc7231#section-3.1.2), which in turn references [RFC 7230 §4.2. Compression Codings](https://tools.ietf.org/html/rfc7230#section-4.2). Note, in [RFC 7230 §4.2.2. Deflate Coding](https://tools.ietf.org/html/rfc7230#section-4.2.2) this compatibility issue is explicitly noted:

> Note: Some non-conformant implementations send the "deflate" compressed data without the zlib wrapper.

FWIW, here's a patch for this issue: https://github.com/czardoz/request/commit/7cdd4d4efc3984278236eb3f2f0e1f3889b43b90

How can I solve this issue 